<!DOCTYPE html>
<html>
<head>
  <title>Portfolio2</title>
  <%= stylesheet_link_tag '/css/reset' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag '/css/vendor/flexboxgrid.css' %>
  <%= stylesheet_link_tag '/css/vendor/nivo-slider.css' %>
  <%= stylesheet_link_tag '/css/portfolio2' %>
</head>
<body class="portfolio-site">
<%= yield %>
<script type="text/javascript" src="/javascript/jquery.nivo.slider.pack.js"></script>

<%= javascript_include_tag comfy_cms_render_js_path(@cms_site.id, @cms_layout.identifier) %>
</body>
</html>
