<!DOCTYPE html>
<html>
<head>
  <title>Portfolio2</title>
  <%= stylesheet_link_tag '/css/reset' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag '/css/vendor/flexboxgrid.css' %>
  <%= stylesheet_link_tag '/css/vendor/nivo-slider.css' %>
  <%= stylesheet_link_tag '/css/portfolio2' %>
</head>
<body class="portfolio-site">


<!-- <div data-picture="data-picture">
  <div class="sample-video-1-image-standard" data-src="{{ cms:page:sample_video.image_standard_1:string }}"></div>
  <div class="sample-video-1-image-2x" data-src="{{ cms:page:sample_video.image_2x_1:string }}" data-media="(-webkit-min-device-pixel-ratio: 1.5)"></div>
  <div class="sample-video-1-image-2x" data-src="{{ cms:page:sample_video.image_2x_1:string }}" data-media="(min-resolution: 144dpi)"></div>
  <noscript>
    <img class="sample-video-1-image-standard" src="{{ cms:page:sample_video.image_standard_1:string }}">
  </noscript>
</div> -->

<%= yield %>
<script type="text/javascript" src="/javascript/jquery.nivo.slider.pack.js"></script>

<%= javascript_include_tag comfy_cms_render_js_path(@cms_site.id, @cms_layout.identifier) %>
</body>
</html>
